@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

.quote {

font-family: 'Mulish', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 44px;
line-height: 60px;
display: flex;
justify-content: center;
text-align: center;
color: #FFFFFF;
/* margin: 300; */
}

.subject{
    /* position: absolute; */
margin-top: -5px;
width: 1440px;
height: 714px;
background-image: url('../component/icons/backyellow.png');
}

.testimoni{
width: 1440px;
height: 688px;
background: #FCEFEC;
}

.separator-sage{
width: 1440px;
height: 38px;
background: #A4D0BA;
}

.separator-purple{
width: 1440px;
height: 38px;
background: #89559F;
}

.sliderimg{
    /* width: 100%;
    height: 500px; */
    /* object-fit: cover;
    position: absolute; */
width: 799px;
height: 392px;
background: #FFFFFF;
border: 1px solid rgba(235, 235, 235, 0.8);
box-sizing: border-box;
/* box-shadow: 2px 2px 10px 5px rgba(145, 145, 145, 0.1); */
border-radius: 50px;
padding: 4%;
/* display: flex; */
justify-content: center;
text-align: center;
/* margin-left: 200px; */
/* margin-left: 200px; */
  }

  .alice-carousel__prev-btn-wrapper{
    visibility: hidden;
  }
  .alice-carousel__next-btn-wrapper{
      
    visibility: hidden;
  }

.cardsub{
    position: absolute;
    width: 334px;
    height: 334px;
    background: #FFFFFF;
    border-radius: 50px;
}

.title1{
    font-family: 'Mulish', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 75px;
color: #A4D0BA;
}

.title2{
font-family: 'Mulish',sans-serif;
font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 75px;
/* identical to box height, or 115% */
color: #89559F;
text-align: center;
   
}

.titlecardsub{
    font-family: 'Mulish',sans-serif;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 90px;
color: #202020;
}

.title3{
  margin-left: -50px;
  font-family: 'Mulish',sans-serif;
width: 350px;
height: 150px;
font-style: normal;
font-weight: 800;
font-size: 65px;
line-height: 75px;
color: #89559F;

}
.text1{
  margin-left: -50px;
  font-family: 'Mulish',sans-serif;
width: 300px;
height: 150px;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 35px;
/* or 159% */


color: #585858;

}

.elipse{
  position: absolute;
width: 257px;
height: 21px;
background: #EAEAEA;
border-radius: 100%;
}
.testimonitext{
  position: absolute;
  font-family: 'Mulish',sans-serif;
width: 400px;
height: 235px;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 40px;
/* or 143% */
text-align: center;
justify-content: center;
margin-left: 50px;

color: #000000;
}