.block{
    width: 100%;
    height: 830px;
   overflow: hidden;
    background-size: cover;
    overflow: hidden;
    background: #f3ecff;
    margin: 0;
}
.boxpayment{
    padding: 30px;
    justify-content: center;
    /* text-align: center; */
    margin-top: 12%;
    margin-right: auto;
    margin-left: auto;
    width: 577px;
    height: 521px;
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgba(190, 190, 190, 0.25);
    position: relative;
    border-radius: 25px;
}

.headerpay{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    color: #202020;
}

.text11{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 55px;
    color: #603575;
}

.price{
    font-family: 'Mulish',sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 55px;
    color: #202020;
    float: right;

}

.total{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 55px;
    color: #828282;
    float: right;
}

.btnpay{
    width: 502px;
    height: 49px;
    background: #89559F;
    border-radius: 20px;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    border-style: none;
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    box-shadow: 2px 2px 10px rgba(190, 190, 190, 1);

}

.upload{
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 15px;
    border: 2px dashed #89559F;
}

.headerpay1{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color: #501E65;
}

.bodypay1{
    /* width: 529px; */
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #6B636F;
}

.boxverif{
    justify-content: center;
    align-items: center;
       margin-top: 10%;
       left: 50%;
       height: 100%;
       justify-content:center;
       text-align:center;
}