@import url('https://fonts.googleapis.com/css2?family=Mada:wght@400;500&display=swap');

.title{
font-family: 'Mada', sans-serif;
font-style: normal;
font-weight: 500;
font-size:25px;
line-height: 42px;
color: #A6A6A6;
}

.angka{
    font-family: 'Mada', sans-serif;
    font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 65px;
color: #501E65;
}

.hello{
font-family: 'Mada', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 32px;
color: #000000;
}

.cardteacher{
width: 100%;
height: 160px;
padding: 10px;

background: rgba(255, 255, 255, 0.44);
border: 1px solid #D8D8D8;
box-sizing: border-box;
box-shadow: 2px 2px 5px rgba(203, 199, 199, 0.25);
border-radius: 15px;
}